<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>-->
    <section class="row justify-content-center" id="content">
        <div class="col-12 col-lg-5" id="info">
            <h2>Did You Know?</h2>
            <p>Today, in Ontario, there are over 1,500 people waiting for a lifesaving organ transplant. This is their only treatment option, and every 3 days someone will die because they did not get their transplant in time. But you can help. When you register your consent for organ and tissue donation, you let those waiting know that you would help them if you could. </p>
            <a href="/register">Register Now</a>
        </div>

        <div class="col-12 col-lg-5" id="graphic">
            <img src="images/heart.svg" alt="">
        </div>
    </section>
