<section class="row justify-content-center" id="register">
    <form action="" class="col-12 col-lg-4">
        <h2>Register Now</h2>
        <input type="text" name="" id="" placeholder="First Name">
        <input type="text" name="" id="" placeholder="Last Name">
        <input type="text" name="" id="" placeholder="Email">
        <input type="submit" value="Register">
    </form>
</section>