<section class="row justify-content-center" id="register">
    <form action="/register" method="POST"  class="col-12 col-lg-4">
        <h2>Register Now</h2>
        <input type="text" name="first_name" id="first_name" placeholder="First Name">
        <input type="text" name="last_name" id="last_name" placeholder="Last Name">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="submit" value="Register">
    </form>
</section>